{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content%}
<body>
  <div class="container">
    <h2 style="padding-bottom:20px;text-shadow: 2px 2px #FF0000;">News Highlights</h2>
  <div class="middle">
    <hr>
    <div class="row">
      <div class="col-md-12 categories">
        <h2 style="text-shadow: 2px 2px #FF0000;">Politics</h2>
      </div>
      {{macro.displaySourceList(general)}}
    </div>
    <hr>
    <div class="row" id="entertainment">
      <div class="col-md-12 categories">
        <h2 style="text-shadow: 2px 2px #FF0000;">Entertainment</h2>
      </div>
      {{macro.displaySourceList(entertainment)}}
    </div>
    <hr>
    <div class="row" id="technology">
      <div class="col-md-12 categories">
        <h2 style="text-shadow: 2px 2px #FF0000;">Technology</h2>
      </div>
      {{macro.displaySourceList(technology)}}
    </div>
    <hr>
    <div class="row" id="sports">
      <div class="col-md-12 categories">
        <h2 style="text-shadow: 2px 2px #FF0000;">Sports</h2>
      </div>
      {{macro.displaySourceList(sports)}}
    </div>
    <hr>
  </div>
</div>
</body>

{% endblock%}
